            * {
                margin: 0;
                padding: 0;
                font-family: lato;
            }
            
            header,
            main,
            footer,
            nav,
            section,
            aside {
                display: block;
            }
            
            header {
                width: 100%;
            }
            
            .back {
                padding-top: 60.8px;
                background: #ED4C5C;
            }
            
            a {
                text-decoration: none;
            }
            
            .back button {
                border-style: none;
                width: 160px;
                height: 50px;
                margin-top: 45px;
                margin-left: 50px;
                margin-bottom: 55px;
                color: #ED4C5C;
                border-radius: 6px;
            }
            
            .back img {
                display: block;
                width: 445px;
                height: 311px;
                background: #C4C4C4;
                border-radius: 15px;
                margin-left: 89px;
                margin-top: 45px;
            }
            
            #logo {
                display: block;
                width: 152px;
                height: 22px;
                background-image: url("../images/vector.png");
                background-repeat: no-repeat;
                margin-left: 51.45px;
                /* margin-top: 60.8px; */
            }
            
            #logo span {
              
                width: 152px;
                height: 22px;
                left: 87px;
                top: 59px;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
               padding-left: 35px;
                color: #FFFFFF;
            }
            
            .back nav {
                margin-left: 49px;
                margin-top: 48px;
            }
            
            nav a {
                padding-right: 20px;
                font-style: normal;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: #FFFFFF;
               
            }
            
    

     
            /* .p1 img {
         
                width: 350px;
                height: 248.86px;
                border-radius: 8px;
                padding-left: 50px;
                padding-top: 87px;
                top: 790px;
            }
            
            .p1 a {
             
                text-align: center;
                line-height: 40px;
                width: 350px;
                height: 40px;               
                background-color: white;
                
                border-radius: 8px;
                color: #ED4C5C;
                margin-left: -300px;
               
            }
            
            
            .p2 img {

                width: 350px;
                height: 248.86px;
                left: 430px;
                top: 1002px;
                padding-left: 100px;
                padding-top: 87px;
                
            }
            .p2 a {
                text-align: center;
                line-height: 40px;
                width: 350px;
                height: 40px;
                
                background-color: white;
                border-radius: 8px;
                margin-left:10px;
            }
            
            .p3 img{
               
                width: 350px;
                height: 248.86px;
                left: 810px;
                top: 790px;
                border-radius: 8px;
                margin-top: 87px;
            }
            
            .p3 a {
                text-align: center;
                line-height: 40px;
              
                width: 350px;
                height: 40px;
                margin-top: 210px;
                left: 0px;
                background-color: white;
                border-radius: 8px;
               
            } */
            .main1 h1 {
                 padding-top: 56px;
                 padding-left: 50px;
                width: 445px;
                height: 89px;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                
                color: #000000;
                
              
            }
            .main1 p {
                margin-left: 50px;
                margin-top: 30px;
                width: 445px;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                 font-size: 14px;
                line-height: 140%;
                text-align: justify;

                color: #000000;
            }
            
            .main1 span a{
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;

                color: #ED4C5C;
                padding-left: 50px;
              
            }
           

            /* #p1{

                width: 350px;
                height: 248.86px;
                left: 50px;
                top: 1002px;
                border-radius: 8px;
               margin-top: 345px;           

            }
           
            #p2{

                width: 350px;
                height: 248.86px;
                left: 430px;
                top: 1002px;

                background: url(.jpg), #FFFFFF;
                border-radius: 8px;

            }

            #p3{

                width: 350px;
                height: 248.86px;
                left: 810px;
                top: 1002px;

            } */

            .p1,.p2,.p3{

             display: inline;
               
            } 
            .p1 img{

                
                width: 350px;
                height: 248.86px;
                left: 50px;
                top: 1002px;
                margin-top:40.72px;
                margin-left: 50px;

            } 
          
            .p2 img{

               
                width: 350px;
                height: 248.86px;
                left: 430px;
                top: 1002px;
                /* padding-left: 30px; */
                margin-left: 30px;
                
            }
            .p3 img{
                width: 350px;
                height: 248.86px;
                left: 810px;
                top: 1002px;
               
                /* padding-left: 30px; */
                margin-left: 30px;
            }
            .p1 a,.p2 a,.p3 a{
                display: inline-block;
                margin-left: -350px;
                width: 350px;
                height: 40px;
                left: 430px;
                top: 1211px;
                text-align: center;
                vertical-align: middle;
                background: #FFFFFF;
                box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
                border-radius: 8px;

            }
