            * {
                margin: 0;
                padding: 0;
                font-family: lato;
            }
            
            header,
            main,
            footer,
            nav,
            section,
            aside {
                display: block;
            }
            
            header {
                width: 100%;
            }
            
            .back {
                padding-top: 60.8px;
                background: #ED4C5C;
            }
            
            a {
                text-decoration: none;
            }
            
            .back button {
                border-style: none;
                width: 160px;
                height: 50px;
                margin-top: 45px;
                margin-left: 50px;
                margin-bottom: 55px;
                color: #ED4C5C;
                border-radius: 6px;
            }
            
            .back img {
                display: block;
                width: 445px;
                height: 311px;
                background: #C4C4C4;
                border-radius: 15px;
                margin-left: 89px;
                margin-top: 45px;
            }
            
            #logo {
                display: block;
                width: 152px;
                height: 22px;
                background-image: url("../images/vector.png");
                background-repeat: no-repeat;
                margin-left: 51.45px;
                /* margin-top: 60.8px; */
            }
            
            #logo span {
              
                width: 152px;
                height: 22px;
                left: 87px;
                top: 59px;
                font-style: normal;
                font-weight: bold;
                font-size: 15px;
                line-height: 22px;
                display: flex;
                align-items: center;
                text-transform: uppercase;
               padding-left: 35px;
                color: #FFFFFF;
            }
            
            .back nav {
                margin-left: 49px;
                margin-top: 48px;
            }
            
            nav a {
                padding-right: 20px;
                font-style: normal;
                font-size: 14px;
                line-height: 17px;
                text-transform: uppercase;
                color: #FFFFFF;
               
            }
            
            .main1{
                padding-bottom: 63.14px;
            }
            .main1 h1 {
                 padding-top: 56px;
                 padding-left: 50px;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                padding-bottom: 30px;
                
                color: #000000;
                
              
            }
            .main1 p {
                margin-left: 50px;
                margin-top: 30px;
                width: 445px;
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                 font-size: 14px;
                line-height: 140%;
                text-align: justify;

                color: #000000;
            }
            
            .main1 span a{
                font-family: Lato;
                font-style: normal;
                font-weight: normal;
                font-size: 14px;

                color: #ED4C5C;
                padding-left: 50px;
              
            }
           


            .p1,.p2{

             display: inline;
            
               
            } 
            .p1 img{

                
                width: 350px;
                height: 248.86px;
                margin-top:40.72px;
                margin-left: 50px;
                border-radius: 8px;

            } 
          
            .p2 img{

               
                width: 350px;
                height: 248.86px;
            
                margin-left: 30px;
                border-radius: 8px;
            }
            
            .p1 a,.p2 a{
                display: inline-block;
                margin-left: -353px;
                width: 350px;
                height: 40px;
                text-align: center;
                vertical-align:12px ;
                background: #FFFFFF;
                box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
                border-radius: 8px;
                color: #ED4C5C;
                line-height: 40px;
                font-weight: bold;
               

            }
            .main2{

                background-color:  #F5F4F4;
                 padding-top: 57px;
                padding-bottom:271px ;
                padding-left: 50px;
        

            }
            .main2 h1{
                width: 300px;
                height: 47px;
                font-style: normal;
                font-weight: 600;
                font-size: 36px;
                line-height: 43px;
                color: #000000;
              
                
            }

            
           .photo{
            display: inline-block;
            margin-right: 30px;
            margin-top: 71px;
            text-align: center;
            background-color: white;
            width: 255px;
            padding-top: 51.5px;
            font-style: normal;
            font-weight: normal;
            font-size: 12px;
            line-height: 14px;
            text-align: center;
            color: #000000;
            /* height: 150px; */
           }
           .main2 h3{

            margin-bottom: 10px;
            margin-top: 20.63px;

           }

           .main2 p{

            margin-bottom: 10px;

           }
            footer {

                background-color: #ED4C5C;
              
            }
            
            footer p {
                margin-top:29px ;
                display: inline-block;
                margin-bottom:23px ;
                margin-left:80px ;
                font-style: normal;
                font-weight: normal;
                font-size: 24px;
                line-height: 29px;
                color: #FFFFFF;
                width: 310px;
                height: 28px;
            }   
          .foter1{
                margin-left: 50px;


            }
            .foter2{
                margin-left: 25px;


            }

